<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="Test">

        <classes>
            <class name="NewTest"></class>
            <class name="RealWaybillTest"></class>
        </classes>
    </test>

    <!--<listeners>-->
    <!--<listener class-name="com.hcb.test.core.listener.PowerEmailableReporter" />-->
    <!--<listener class-name="com.hcb.test.core.listener.TestResultListener" />-->
    <!--<listener class-name="com.hcb.test.core.listener.RetryListener" />-->
    <!--</listeners>-->
</suite>